# Git directory
.git

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class
venv/
env/
.venv/
venv/
.python-packages/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Lock Files
*.lock
package-lock.json
